c16627Service.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.metier.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.metier.com/" name="PersoneServiceImpService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.metier.com/" schemaLocation="http://localhost:8080/c16627Service?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllPersons">
<part name="parameters" element="tns:getAllPersons"/>
</message>
<message name="getAllPersonsResponse">
<part name="parameters" element="tns:getAllPersonsResponse"/>
</message>
<message name="ajouterPersonne">
<part name="parameters" element="tns:ajouterPersonne"/>
</message>
<message name="ajouterPersonneResponse">
<part name="parameters" element="tns:ajouterPersonneResponse"/>
</message>
<message name="deletePerson">
<part name="parameters" element="tns:deletePerson"/>
</message>
<message name="deletePersonResponse">
<part name="parameters" element="tns:deletePersonResponse"/>
</message>
<message name="getPerson">
<part name="parameters" element="tns:getPerson"/>
</message>
<message name="getPersonResponse">
<part name="parameters" element="tns:getPersonResponse"/>
</message>
<message name="updatePerson">
<part name="parameters" element="tns:updatePerson"/>
</message>
<message name="updatePersonResponse">
<part name="parameters" element="tns:updatePersonResponse"/>
</message>
<portType name="PersoneServiceImp">
<operation name="getAllPersons">
<input wsam:Action="http://service.metier.com/PersoneServiceImp/getAllPersonsRequest" message="tns:getAllPersons"/>
<output wsam:Action="http://service.metier.com/PersoneServiceImp/getAllPersonsResponse" message="tns:getAllPersonsResponse"/>
</operation>
<operation name="ajouterPersonne">
<input wsam:Action="http://service.metier.com/PersoneServiceImp/ajouterPersonneRequest" message="tns:ajouterPersonne"/>
<output wsam:Action="http://service.metier.com/PersoneServiceImp/ajouterPersonneResponse" message="tns:ajouterPersonneResponse"/>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://service.metier.com/PersoneServiceImp/deletePersonRequest" message="tns:deletePerson"/>
<output wsam:Action="http://service.metier.com/PersoneServiceImp/deletePersonResponse" message="tns:deletePersonResponse"/>
</operation>
<operation name="getPerson">
<input wsam:Action="http://service.metier.com/PersoneServiceImp/getPersonRequest" message="tns:getPerson"/>
<output wsam:Action="http://service.metier.com/PersoneServiceImp/getPersonResponse" message="tns:getPersonResponse"/>
</operation>
<operation name="updatePerson">
<input wsam:Action="http://service.metier.com/PersoneServiceImp/updatePersonRequest" message="tns:updatePerson"/>
<output wsam:Action="http://service.metier.com/PersoneServiceImp/updatePersonResponse" message="tns:updatePersonResponse"/>
</operation>
</portType>
<binding name="PersoneServiceImpPortBinding" type="tns:PersoneServiceImp">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllPersons">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ajouterPersonne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePerson">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersoneServiceImpService">
<port name="PersoneServiceImpPort" binding="tns:PersoneServiceImpPortBinding">
<soap:address location="http://localhost:8080/c16627Service"/>
</port>
</service>
</definitions>